fastapi>=0.117.1
httpx>=0.28.1
uvicorn
yt-dlp[default]
yt-dlp-ejs
ytmusicapi
python-dotenv
aiofiles
psutil
orjson
uvloop
watchdog
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
redis
pymongo[srv]>=4.10.1
email-validator>=2.2.0
itsdangerous>=2.2.0
google-auth>=2.35.0
requests>=2.32.0
